#comingsoon{
	text-align:center;
	.comingsonn-center{
		@include size(500px, 340px);
		position:absolute;
		left:50%;
	    top:50%;
	    margin:-170px 0 0 -250px;

	    h1{
	    	font : normal 34px/1.2em "NewsGothicMTStd", sans-serif;
	    	margin:0; 
	    	color:black;
	    }

	    figure{
	    	margin-bottom:30px;
	    }
	}
}