  <div id="main" role="main" >

  	<section id="comingsoon">
  		<div class="comingsonn-center">
				<figure><img src="assets/img/logo@2x.png" width="201" height="202"></figure>
				<h1>Editorial Content Strategist</h1>
  		</div><!-- //comingsonn-center -->
  	</section> <!-- //comingsoon -->
  
  </div>
  