
@font-face {
  font-family: 'NewsGothicMTStd';
  src: url('NewsGothicMTStd.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewsGothicMTStd';
  src:  url('NewsGothicMTStd.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAD8EAA8AAAAAXqAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA+6AAAABoA
AAAcRaP99EdERUYAADcEAAAAQAAAAEoFLQPqR1BPUwAAOPgAAAXwAAAK6lgFcLtHU1VCAAA3RAAA
AbEAAAO+XZ9o9E9TLzIAAAHMAAAAWgAAAGCG1B0HY21hcAAABJQAAAIEAAACgnbSlU1nYXNwAAA2
/AAAAAgAAAAI//8AA2dseWYAAAiUAAAp7AAAPRTB88lHaGVhZAAAAVgAAAAyAAAANgTlfIJoaGVh
AAABjAAAACAAAAAkCDEEpGhtdHgAAAIoAAACaQAAA/ojajS+bG9jYQAABpgAAAH8AAACAO+V/8xt
YXhwAAABrAAAACAAAAAgAU0AmW5hbWUAADKAAAACpQAABaZfRRppcG9zdAAANSgAAAHRAAACbbUe
MKp42mNgZGBgAGKzkOmH4vltvjJwM78AijBcWC0TC6P/+/8XZ1VkPgPkcjAwgUQBS0cLxgAAeNpj
YGRgYPr2n4/hBKvHf////qyKDEARFPAPAJm3Bt0AAQAAAP8AWAAGAD0ABAACAAAAAQABAAAAQAAA
AAIAAXjaY2BivM74hYGVgYVpD1MXAwNDD4RmvMtgxODNwMDEzcrMxMjMxMTcwMCw3oFBwYsBCnz9
/fwZgAK/mZi+/edjOMF8huEqUJgRJMfEy/QESCkwsAAALl0QcAAAeNptk09IVFEUxr9zrhMF0mDJ
G8dIxUrN/jr+GR1mMrFQoTEMigidN1GNCA0xhEjTsmhTi1oVGEKboJYFQbs2tSuCGBftwiDJTcT0
z4Wv776Zhkkc+HHuO/fec8/9vjtSRC34kyQZ8JmRWSR0Hvs0hx7zFL1awH68QkLOo5sEpYAw54fx
EYdlChEsYUheI8j1h8gDMkiayC4yTIbIKbKHHOAZl8k51jj2D3mETrOKqM6xzktMM9ev7xknkNG9
5B2/PyMjIfLW+673mGtDxuS45g/Hi5y/VY4LjLPsZQz1+gGTyp7NTfaTYe1xkkSLXGedN7xLnncZ
Qb8UvVVq0MCanToDV2sQYYxoIyISg6PdaFcXaQnAJXW61Y+ueY40867G/fUu6ZLbSMkSmmSC+1yO
l3nGJ4Rlhf1sQkB+cC6JHbodXxlDehdHy9pnuS/i63YDKc2jw67RLYja3sxx9nIHu1mn1deM2vu5
JBzmj1hPJIdmspm5Kd47rVme24GL/A6yfkrul/bT1zEyTmLU/qCv+waYa4zWC+tDFRLyftGLUcYi
+U2vtlV8WM88vV6kttaLaqwX1rMs+7S6b4C5wlhT8qEaCXjfqH+CcYUUNYGeig/rsW8sTk3pxX/Q
C50uReslzwtJGM3mCeJmgfv4hqyPlTdD37TR+0kt68s4pI7kyQg5Q2r9d7SGLl//L9S3CJhl+hvG
WWlA0qfAccGPSfrbTvrkEqL042pgFL3SglYLHnonNeetaQinqW+bX/cF188hpo+x0zj0+Rnfkv0/
cq31Wk/wDhfQx7czxPwkyVbIYkAH4cD5C/kBvsQAAAB42mNgYGBmgGAZBkYgycBYA+QxgvksjAlA
OoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Tew3xAQURBSkFOQUlBTcFAwUrBRWGN
orCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//A01XYFgANNWRMYgxAWhqLdDUY0BT
b0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+b/pf/D/9f+B/3/9W/9j/sf398Vf3
r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997ce3nv4b0H9+7du33vxr0z9zbcm3lv
2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49fQFBIWERUTFxCUkpaRlZOXkFRSVlF
VU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fPPyAwKDgkNCw8IjIqOiY2
Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9z+69+x4WpaRmPq5YWJD9uizrZ8es
b8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928de/+7Ts7/xw8+eLls+d//z2qvPvg
aUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I942i3CX2QbYQAA8OTuuz+5u9xdvu+7
777LfRcReYiqmIqaiImZmJmpykNETPUpomJmompPE1VRNTMVsYc9VEQfKqJPURV7qJmaPkRMzESf
KiIPU1M11T3M7+fz+RL/ZXx5X9137k/4G/6Wf+Af+/9yJhflklyae8a94na4Mx7wUX6F3+Fb/ARQ
sACyIA/K4C04EoAQEV4IW0JT6Apnwq0Ixaj4SCyKFbEutsSBOJGIlJG2pF2pI51IY+laVuSYnJIf
y3m5LNfkujyQZwESyAVqgY+B3wpWEspTZU2pKm3li3KlmmpWLaotta+O1bmmaXFtVatobe1YmwXl
f1iwEOzpQF/QM3pTP9SvjJiRMZ4bRePA6BkXxtSMmEWzbO6ZR2bfHJnzEAwthtZDndAdXIQP4RO4
AkuwDN/AfTiEEziDNwggEzGUQCn0ElVQDb1De6iF2miA7rCCCY7hJE7jEm7iA9zFJ/grHuKJlbI2
rE2rbr23Plkd69gaWOdEIYTESJKkSY6skg3SJj1ySr6REbm0NZvacTtrF+yGPbIv7bl9S0UKaY4W
aIVu0l3apH06pNeO7Cw5BafufHA+O11n4Fw40zAIs/ByuBSuhrdd4GI37i65r92e+4Nx7AGrsn12
yL6zn2zK/nhRb83b9k69X95NBEaWI+uRxj19vIXUeNq1ewl8U1W6+D0nbVO6Jk2TdE2bpNnaJE1z
s3VJmjZpb5t03+ne0hboAsVCoeyrooKyyaI4KiooghsC7uOo46BP8LmM4jx9+maYEQZHHRDH59Cb
/znnpguM8+b/+73/P3Bv0u+e5fu+833f+ZZzqVAqiqLAV/AAxaPC0O9YKo6iaKFcCKT2UKHdVgj5
Ur6GHwX+g11y6CH2Ia1Wq/uPQ4dSHzoED0zOh4NXr2axKc6CAueVK1czr1yhILWQoqh34AU0Hp+i
RDwlTyRWWt+Jz43v6YEXJgMQTG4bHUXtnOAnkAevUqFUJGqn1FhpsZTcx7NimMNZAj/4acvSpVvQ
hQZE7bPQbTE8RSVTabi9lbbTfHKJleRS2sllpeXox6u7H8gsyDyLru5h9a5f6Aoy39M6M3tGQIT6
PRU4WfBr9Ck4WfAm+hScPInG51GWwCpYwBNTckpDGSlKJVRbLS6eHSEkA1K+WiOWiOPD+IgWI9DY
ZUBkjQHieKnQBawWNUj7OEqWXWlye9p1uSW+zyf63BV9+YXqiryS0n/zM14nUJZtiDeYtam8nJzQ
QrOuJox17q9eHb5yZUhxpcphBksuhZToanewP/BrDTofRYVQ1kATbwkvCq2JijJTLrRKFrVSgSeV
0Gab3WyngRKEKRUajJdSgbC10Wap5MZWM08koNeRbfCkOLPyaufeN547+Z954JuOxXpZ8pI6pmOk
UZPuAi9Nt8jjgOXtUEN73HXaPM/695qv+3jN6tAsuuORvtq2A7Fxk+9OPSvjQL2Yj/rAFXgarauC
slEexEcx4lcQC3sQFcxIidRmp2MgXwaAi2fFSIeJ42Vh/BheEHU1PO0otbStHdveOtfa6mOaqutc
y+xx1XME2lSlnd2pUmhjjek6C4R8XmRITKJWZRAu9Bm9ug5vTVi6tmZNa2k/XVdZ0VNfVNDm6Fxb
M5ztas9MTQC3JSRqNIlyvdMcHhslnBMfnjiUkKTTp+TWp6V1Y1kDSDb/Tm0mshmUzBWGGAb8fdOy
ZdxzOmAEdfASJUF/SMPEAinfOEeDiLPbgE577j0tjAuLCxdGCKJj+ONjJnjJfJxl2cdpIAgR8AWR
wti4OQ+9ePoBDxkrFo1lgpexHoqQXIkFfI3NatGoY7Xjm37Uvb9QBV8wd1zdwl541/LMf7+w3Yz7
JIIW8DK8SAlxH75VqrFL7VK+XazButq79JVXlroZv2vslVfGXH4GrN4vZRIPZDz9dMaBREa6H/3A
Y3ioQdgMV2PtU1mR2iAqkRqJgf7SJffly4MX3X/+s/siamcKjFAPU6PIOlBSrF5ivqkou8e/e/fo
6G48jpn6FmQBG1p5CiDtAFn/DWwMw/GpCN0Pob7omR09O9QzilQf04xup4iNoOYgKQan2IMe0IfM
QwoCIl3PDlyFHvg9wk1KUaGKGbHRmG1TsiIBjpV3b59YtXvHRP1Af33TwPzoM8+dPnf25HP/xhzZ
tefwkb27H8Zz7Ue3z9GwiL92WhjGtyK5E9Ji+f4tZc4aq38Z+5IbViaGuKM1k+1u1L4QIaBDcyN7
owNYaImGoyn5GmQPaLMMCWgMH8kpXw51rGR0+XxfbUHxXI1HqHV0WM01JnlUiGBOWqQ+yhHm0Vem
hoL781V3Nvoac50tNRVCfmZhri4t22lPjFcopfLYjIjMUFrp0UsxrjJEdxqaW4flzk5PEcvXuACh
H2kLp+zYApHHRnjdG57Ts7jVTVcZ8i2L/X0b7vRX7RxuWWnOz+4uYPrsNXlgPlOeT5dl6bSO/KXV
i/Jk9aWtW/xl2tz8ltxsb2oUZ1+V6FaF+BRBRSOJkFsB5pJSrBQCOVjLPgpM41u2+NkrIOYZBnzN
xjPPwCfYSixHCGcd6pdKUYUgiBWHtEjOl/ODC4dw9jizKnN9ne0emlE5UsHGMPa1uJbqzpV3z6+6
ZYPcSo/UVfRlZ0vAJuav3ruGF91TzuFVhOxJMeJJApWBWMTH1g2Kg/yYtm6zJ4ap+vyCzKryrJxu
Zt7ElvkTB4/vLGXPCW5xlve0eAu74Bt2uZzZ1GLPXj1vePdvHjv9GZs4vGCwsmRuEV6DOjSpEtGD
5J0GcqtcDPaDQnYVeJ/9FbyfYSbnIalVIZyqEU4StFtko7UKiuf08mCxMWLLQEwZQkvjCkF3Irbe
O0eHNz7eP3DfmtV72+f6/R89PNLaNLKoWa0ySwSte9qqYV710FD1Gqu63de47JZGX69SXXO3Z1Fu
RZXNUjkgFKUmKOItpR7aWEj4Y0C4WKb4UwjQhC6I9iblLK1RKoARcEqD0Kk3uB2ainI93cl0rtnW
N/GLZ+6sBLRotKCsq9Fb1KnE3NncbDNv7pq/983Hnv9PcHm0e8hf0uzl1mMY3c/C6OD+jrQaX2d7
0O4ePTLCziN7eyuyGedImwhur+YRw6E819Njzu6p0IL7Ryevjo7sxfz2UsthE1yM+Q2igVhlVcEm
1gtenvwGxkHdqdMlX+R9gef1Ur9H7fjcvEAst4aiCzbhZujiu91/dLtvGs9uAKhVKBqM9eJWL586
Xfpl7hccHZmo8Siy8SlUOsJRE1xBpNZKsnyIiUSaMHULC2u6ClvqZTEJIcANZMrklCRakW4c7IFd
qsUdntpepSjbkClMyi3XyjJykzNyNZOXCR/sASfvTfgTZaLy0WxmqZ3moUWgZxkx2myXovXJsFqo
qbXSTC2eyD7dCPxQY4uq0oQjQ/Prh5+49OmvJlbr7tjzB5YF8b89+e2mgY50R5HdWb/mrTja4W3K
pj0g0NTEBmxJnpV9B9+5eOy1T0qL/eyX54Dw6nObH263ZyysGX+Y/XBP69r2wnyOH8gmw0Ek93y8
Zna+UkSjrS8S0I/4/NeWXKvx71l3/auvsIn+CrzLrqKIzzQf9dlIbGs81n8dEHJcxIQAMW3GZPKE
QXrBMPv3S9t2b71vN/vGxss9TafeaehdMgAvDNYMuz1jzUvg/ZMb7V72ZfabcpfbT/YPB5LtNUi2
k5FFks7ItAyiDXdGoKGpMuXevk2PPbJJ46t2C/1Jcyv7V0zMa+j4WrBk4rfHn/wgPrurOLKx/pFd
e452EFox3vsR3uF4B6WFQc5PYzr/w0dePPrU9n3jt9+xHl741dHH3ke4Hf3F3TsOIJwGUF8n6ov3
TbFcKBeTf0LoZHXgOXYfiGK/Zxh4gfkrw/6eCrYXo/ZzkJQJlcH2z/jBU+xBEAb62IOo7ZXgfonp
XYvoVaA/rHKh0vrPaHZBDVhLBZjUxeVbHzq6RVNVVxRbndJWMW/D2j6Ft1jDAzKGva9bX3z2mRPv
S3LaCwUNzUd27HpCmtNZGMRpLUcDxgn7+zT6fsbvBxvRRZBifwNyJ1NAX5AG6hluvxaRdlNbNQUC
VwJXwCL0G+/pwhs2JyFYNNRaVKtyJds1eW40YuTqDQ6rMkPV1gauUVO8uWM2HoDmASUP49HaEQDy
pr8DwAZQz01gDXuRtYC91HS/ONQvlFsDWgjj2AY/Zjsyz+g5Wl9eJLfnk3GTASaPp3ySWXn+49X+
77PgoclO1PgYbEB0oN/BMXfPrBMNMEue8Y+BxX4/fGSyHTV/BLZPpmD5wev0i3/pn4xsPX7sji1P
PL11wfpVCwbWrI758MizH39y/IkPmcN33fPEY3t2HcZj4XnnkX03LjjzjDTisZ7xX1t51961v9j/
zsIhUMU+Cy+Mzm1fAqrZH28tcRJcnPABhIsU7+ChaMtGC6DWGMGMq42c7dl4QY3LMTgeWmnyVh/b
fMfxvoYMOty0cC1Cce2a1UxHW7Qi5/jC4599/OTql7Li+EtOHt6157Gju3YeCeK6DuEaTYmD0szN
IFJGgml0QcjYbXW1rzY/dea+M231oIZ9Gl4Yb2CaZOxDoAZUsj9tcXoRv7MRDwsR3pmz/AYjnEJ8
trhLObtohNmVSfVNdZ2yQjfduWLDfGe3Iy3cL6krY+raRz7fMeoZdMpfjvdX1BSorApxhGiRr2GZ
Kt+eIi0qLs2xl0uzj3RO6EtcaO54RIeV2DpKJEcuDvoXD+V/9n+NdHFyHrwfy1A7wm95UK5pTrCt
SCSQ9bZCvf+u1et3+l9/A4mmetM9O9eAC2zOZ59RQd8W1nH+A/JteUj2YF2A8gZqPvyA05rJnWh3
Qr4ektEBTkYBj7TD/3lK8PqDRW9U7TtYdu+BirdcsHvyQdTlWVhFrhRqeo5mTm9opYj05YmUvAVz
fzo/97EnWn53vfkc2AZa2EtAyj7GLgX+YJ9CYvMoOdIF0gf4mWtNb7zR8D0oBofYx0Ez20nGTyc+
MNEFO+cDIaOVDk6zQ+Ar1g9OTv6tDDYiX+ho0G4NBBygl+NnKGInjb3G3uvXT27x8I65r38yhTM4
zdkQuRLQ4LSHvc/D2RAqEfUXc/2lyOohxbOeO3n9+lae3n29wR20jaALxsI/Ej8hEuDtCbz96CNl
75S/CbqAm30N3MquxPbop8Am8FPgJJ6Hj7AOgxRL+c3cGAmwiPoO/p7YMVqqTBgZcsLfPxT0BwLX
wBcwAe1jWtTUblMq+MQpSAXxUqU6GMK6eHab1BqMUUFnFpjf1GsZWtoyL4aJggvmeep0xl6jTUB7
Ghp1lkw/qJuzea5+oLfkqtulNc2rcemK1crISN57R2IT1VaFUo/m7Qpcg3ZEewyVRKIkJGO2Kd+W
JySKQTT3MMM0vLpuXY+52mSqNJY2tpQZK0pKkAD+qWr/ilX7dWCI/VGjXvL6LTqOVjOi5yKiJ/HG
vVNyw9YJjrp0HWX9m26dV9apcaW7Td65c4vp4kNKb+n+VSv2lxYpHI7lA61LHRyPzIEfILb7cXi3
B2gsrBAz3LEB4YzHEmupNzBx5XN4PS2da9cCUVs109jI+GGiTg2SJl/rL0zLrN87seoAOwJCq0d6
+m8h418DXyOcpXj8G3d8sVyGgi+bSm4EijDwbJ65v6h747p2RWm5kd0ekp5tkJp97HdAHVm7qOEB
XWHx3rUr70nKW1ad36SLs31cXVOHeYLjdTP8A7G0OOS12KRihHEqwBKrXNHb29ERJa4bGWHAWXed
tyTUA8sr3CxNfB1NwAj1MJHSUw6qOOjzS21owRT8oN/G2Sr6xiCApD2ks8wvn+MP+rtovKumyF4l
zk5NWtada8x01UWGbV24fGj1tvT0BIk6o/gDdwVT5K2oyinsnfvEBtBZPWyQ8VxRmfaGYUFsijQ2
DERWuovrGj2KnGRBqkSmjc/VldstJcV5jpI3ZDa1vcmkILLQjRYPonUTTe2zLoj3BvQTY3WEYcyG
inRPJaOyl4O9LPIC2W8TJZL2euTOdOcVcGvfhe6H4eczfj/SVCESSgZ+3tj475NXkbtP2gkDBuoI
aRc31Y5wx2omsZAQzVaSGxUFYnjJCq7ryeJ6WAMzFdCLcUXzwBDOtnHaIKLR/sJDM33bcfyXNQef
fBKhlwqinmefAGquPcJr2jc5zMz4JphuXhMkkZFITGiW3kB5GH/2jyNmuy/dahfRdFVGvo8xKTOa
PIxek9HkZWB0vVyekp2tSEutdbMT4BZ9vsHEbga36FzGbHYzRzuHO0TzCYJ8FtumJlMqEAHryovr
mFaOxdHOsrYK9m7QuYKTexiBZOt/9ifUg3fcOr/vti0Dpa1NZb7WuZH7V6zef//K5XsLx3p7Rse6
esbIOgUcyJ4koD06AVONByL8R1hIhZKp2ONwV0P32rXdLW0M01ntbWwpKYXRpbV7f9hXw16Fv93M
/q1idF7PEjxeDhoP4yYkOo9ts3CWXgKRcMacgDcYxlBv6Vq3oSPDk6XIrs7xNtSV1IIzJZNZIEqt
PbByxf7EVOQGhGp1S/p6FxGeoR0HbCL4IpuMAnspDvHDUoGyk8nu90XGh1UPIvYvLytAEfedzZco
Lk9yDTyPcMqa5Tsgp+dmCycLkeJsDVZGmTOzPId239Ytz5tXXdSsscmcBnN+bJxKbAjTWPNk/fUl
fW1ZOp1Z5VYliVWlzjq92iRX6OSCJIEgLBJGSlR5qqIWmltnCfJ58+G72I8QBRNn2DGwizkvQSlp
ZzZurI6Tm2J8Re0w+pe/dLMvt/DdYa5y0EBoRvgHkNAgDZFbpz0LkvbETvDzKyu8NYwtU1ubxzR0
dTaCfvZhm8doAismr3L7Jbq9h/qHTfsO4L2Xil6s3r4dRmNNZJvB48F28Axq9w8+xqI1pscqlq20
r1rhe8IMdrGLUJ81YBM7BraTKTgfCXyC+nI+hoZGwSvSQ81Q8/PHmzasazr2fOM2IJh8661J9rvf
4fahgSxwBbVPwnPFYImzS8yuELvNTvC78nFUREJcujInLd4Ul2zKSBXE8yN58J3qBx9AOL+fnmQS
y6Iiwr2hofHR2njZnFCEUT04zuEiC+Jygz8iA43sr8EO9jjoZZkysJZh2A1BfyQ5kAtsyAboiT+C
ZdUYqrG6Qq0WJCH5QEwEDPmtMoi+JDSwJbQUA154rFQuScqQRoXB0oaESEeGsSjLKFHmrmcaBgyZ
7mS1IAaWwZi0dJctOzK0p4rRuMsXNqaLTI1MWaEOz/tn5MdkcrYIID0BmSjqud7AO4afSRFOZvRM
i7USbRTimFBxPBLOLKRTZpsT4N0Coi81AUjeMeYlZSREhYGyOoSKylioz5KoHJEJ9WXQWtnvD0WI
KFOZHBsPIkS07rIFraliQ315uVvDVBEeuEEZrAUfY79LZMVqMSWfSoXbV5p5NM1ZW+4xHE0rAPWl
zuoSxlnN2e+RQDb13nR+h+RuRPR7PT2wOz4X520UEAZ9ASM4h+hJwdZVGkztS0U0T4KrJTyS2cCG
QsNPBpwFM7fPHW+ZY+jLGbYlW+NT1isTPGXGjPnWDG29d22EoLjqg7+WTgw/OAfw2EsKt1gvYp8W
dMpcRYLzwAoYMFZfQ/KUyC/vhFcpG4XTPUjzSMIBzUaTGEEzY5ykFmwWEAU32wXejJei3HdHRNxw
TtmcstidyQ5pSWiaU5dlLzQleUPEB7aJ51XVV0VU8A3mLIvRLpPIUiVmcMRZYCq2lC56VRRN8zL1
uQajMzlUPae0zDlfUz/U0RbidDvpZLYoPVUSn8zxtJPaDNOQ75lJWZFfEwP4xGPSoC9SE0ELj35I
McoodJbGQD6hSUMsP5fiSOMn8+UKs8eb40mKMUo0mvAUSURMksfuKjF50LMISUq4RiPR1dvyamod
ubVP8lP4CrlG40mJ0cfbncVmfrI4IibFgyDoSYQ4mW8tdNrjb8+vrBmtI76RNhi3oF0DoFXEJTVS
EFCS4gBmI48GzreqT5w4n/jXvzJXriSdP3GiBtwFmth33Pom97Fj7ia9G9gwvTN6gCMCtBFacUCd
6UafM6D3IugluTEjOI/WMQfXtkJvzGoHbbl9KoqdXjkpFwzyZcjE4BqXlKTpwEvz6xtqJD6hzaJ3
+Fcpa4o8VlNfXVONxC+00AY7s1ZZ7fJacj7IdTS3aLXpNfnu5vLyWJPZqMwx+FKLG3MrM1X5Bnd7
uT/WlKPPMGdWpHoaHX69ygVe1BSqsmrMKXJTsrEc05YAG4AVPj7jB6EA0jrSCFIb4eON6IN9RTMl
5MWj2FaMLJc6mLWele3j5DEjHZOSrhZk4EVOt1lgZZ681lHizW9NKdDe3jp/sHU1exGYPj3PnjsP
vmOfOwGoE+A/Y30NTGlNZ9yWsYG2xYc+PbD/0/PAfO9z7IkTLJG1DDAG+hBfuZlnIheILPFUZj4Y
12hIDRNpQZ8znMeUZhek2PTKlDxNqiwvU+9vdfucXc0FOWCVRFaQZ0g3yWLn8KNEycq09Axfieuo
Jn9IlK014zkVlAy8Db7larl2DdoppDS5P7V9e822bSvvvBPdZRcvXbqIL85Ge6kvYQuMITkcK7Lp
QpjA6mH8l9+42Q/+57pSyCz+piIqjZhO7CqapcT3RtKRBpQaI9AEU5DqmzkNJtTurVWy5Izc3BRV
sqlKqdBXVXWZLDtv5nbnY2B7TBSdYnCFR2fqqwpdWU+tcCoSv7qZ7dgngEuAHT5J8EXkADv7BZDD
JU7MHxe4ACrRmvCxNY6z2LBLplDHS3Bop3DVjFZXjybneE0mL6RHa9Cfj+PfOZzt8FCJKNY/hzgb
e2OlTiqWW4PVusuTX790CRfsLvW6cQ0rDYyCCniN5BHlJJsdbuXqwvxgohvZGBpUsB/aZLE6sSxa
FB7OM8pTjJJYi30ot9ZV2SD4DoxmxBWJ5iRFiyJiI6Kj+MnapJSEyGVek6pYm5tMaA4HC0EpmgfX
q6bLVXwN52PHB+MiUi+HU0/nhyrshbTSZDNKk90qV7W3osWTWZIeb4xLyk7WOippIUy3pCeK5ZlJ
YnGCK9OekuzOZlJTE5LixCJNYipO21MdsAjpIInjAV9pB9b7nEMokH+I+PzIXwVo/5Ji3yoGYrNC
wgiSNgXEv3oxUeZI0tu0DFOaq3EnxzHVKTK5KPnP8Lfsm556rSYdzMNeEMlLwAZkx4TEik1l1YIZ
I2AqsCR5fOuGQO28/FvPQCEMFy30tS9mrt/H6+dkog8UUL8Gx0hsgmT41z3g2OgoqfnmAOTL4DiB
nooe7SQoVNrfSWxxmnyeJL3TNjdbH85kIMMjTddxfiNYSF2Gn5G8JhIB61Q981XDdr0gJVuSDO7N
yQG8MGjkx3G2YBkYQ3oSQfJ1U3FFfBhUTJemPqzu7vCXd3Ym9ha4ss0FYNlgY9Pg4qMDoLLKXVRR
Xez+B/0uBMgZ5NN2fFds316L9Hvbtpv1O4QqD2zmdcEfEK4CKhl7cCJhmNJqKwQEc5EGSHlWUbDG
aNXQwgNJtpw0G6j79FQmeF///UcVPT32xx4DlaA3TheuBGybw8HaE3itksn0bFDNPpO9enU2iODq
EFWBLbyh4FxZUzORMi83k0huQdZvWjyDxUM+Ugf6foXBlGZv+uxgJvj3rKfZV0Z6Rcn6rEqFPaHF
7G43urzFfBZUgM5ohATbZrezuQm8uQnXjwy31krSFemWBYLysgaHlsmmmTRCdx6i+xbEcx4Vg+Qm
D0nOP5CqmlKGGX2cKh0SMcCZUF4WALGZ4AP9d+9Xd3XZjxyZfFOuLVBrpbo4kbbE5yqbZytoKWl2
Z1lcageIis+S5a2W8FoTJjOMOOWaM7HaCCKvGuUSnUgg0pTVGCrjwz0Ga2Ob3GOR86JSJHFoXY0B
Axgnvl4KZ2VFUzkXO9ovaJI85vyk+J6NRdp6a+HcRkW8ABQpCnMscjuMHh2dPKWy53UUN8zTpjod
4kY/47Bl5FOBAFdP4r0gUGP/UMBHduwB6pOfgY9T+2bBn5uGn6X2zII/Og3/6Ib266fhg9Q9s+Dv
TsM/oHZTn3D1LV4/yeeKcESDIwgSt6Fvq9IuVPK6a0Ed+C/21W++QfFWzbffZj4KLzDfMex/MV8x
YDG7k9Rnckg9Ctm70Jv19h98FRLOIX6CMeGMRmtX7n3wtgU7kyolfaV9Eyt7/YPSytS7YmTTes5E
fvjw0Y8nBqPqGx/efc8Tra2xi8cpzE9SdyJ80wb5eZDQezN8nNo1C/7cNPwstXUWfP00fJBrH/gb
kt73yDh6bvzAF6R9GZKM9Fnw8cBl0v57BM8g43Pws4EvCfxHLElkfA4+iOGI/3HBmhuJEOVKkubl
RD8sqA9ZAKsIkL/Y2Pjhoy9sq2X/tm/JXdvXbDtwADS6QfXrj/+h08Hsv2fPPeyPOCccpGU3kY2c
oGx8THAm9RmCsznIq/M/Cx+nXp0Ff24afpZ6cxb80Wn4RzfA10/DBzEcyUcrNQ49sDNoJcmhHHwi
p+2t3xh+c8bwm18b3nrr4bfOGM6cMf7mLfSb2K4ENNYvkUxh30CF41vOV5wDOEMgkvK5Ig6OFzRT
YdZRMOAa6F8HHmHvdfUuXM/oOpwbh3VJmxsb0K+j29Y2vgruazi8dyFIYwcaDt81DBKVQwu23X02
cU5vt3Kw77anPp2H+UdqHIQfjiCfXiT03Qwfp96dBX9uGn42yD8Ovn4aPhjkE6k5kHEKZmQzWEfq
I7UPCdZFtOycReZiYez/Z4Fn/P6j47v3bTpwT//CfNPCu+GFB5e1dixnGE+pOo3s89egjYunVTdF
D9bgkR2SecNndrgTZ9C2sMpSkpIfp5Ppi16urfC572NCE/WN+X0TBbad77auyctP0mqbSo+FFQK3
Ocd9aHIS/CWVrrBoeipMteJCTua4OsF3iCYvoimM8iyO+Vn4eN9s+OVp+Nn5s+GfTcM/ugF+eho+
OBvO403DP8BwJD8IziuCCeTUogPnt2WQL8ec4EKNmcIFMlJcSUNq48uJjeJbp+w77FX5SzMBuz2k
Nbe1LK97RcEiwebhkpp0a2evf35rp6V3zZilQAvU4Y02Z0P5DkOLVVcBE2SuW3z984d0G7y2lfX5
GmeWMjEmenyufqCr63xFfTd7RBmv8yoNwXpEDrgIpVjG/5ntlN4QJwGdaMZuZs4du613c7krv7G4
bW5xh9Xli5RP20x/5M6lE/tuVSweW9CyfJFyE+EXV0vA61HGrdOqmJ+Fjw/Mhl+ehp/tnw0/PQ0P
rkfgO0TVGTLO69z457n2Tmz/ZsHHv+TaX0bwZDI+Bz/7CQfHdlRIxufgg5/FEL/fguQ7HMl3MlpZ
5OVyge9UZkONbQFyrGmJ1C6aOUtiA694czT29eduvbXPmy+n28XNEXZBbZrAJ24uKWttKSttga9n
Whon1tx+3/6JFfdZmwtzFbYYc2SK0MCqOsdGe3vGliIauDw2ls3aoN27lYrheAEjCG11QXux8Wfg
iOYV07xD8MvT8LM3wD+bhn90A/z0NHxwBSfjXmo9ioH6ScwdycVXGq5MSMPmyb9A0QU/+oAG57pG
NrmR8wmVaKwkmEjsqhLZVRHHJRWPs6t26ZQQzljV3deziquagPG63lvSZlG7sre293jy1C7jbQMt
xfeA+Jzlba6n2a/Nt8wrOqfylvWv2uV2q7xM99q9wf2Iy+tiPrQE+bOV8Odm+Di1aRb88jT8LLVh
Fvz0NHyQuoPAuRwrHqed4/NcTlY6UZxiI75NIo4MhDOH7jRCpYhk/bGQdDJtzd3r1vbQtUaG6fKX
1zd7auAF9qJ//8qJfVotexWiPbdiyZuLqem5Tk/PNdgRM1XjoA4Tn5FY7sMMg6sfAMdb5EwG/kPM
x26VkG8l4ZZpHehhG6qr/TDVN8R+wQCdx+cBS9hzZLw0nC8OngGhhXYxrsSgjguZ+nrG50PovVGa
X8ruASZXvgvTWhD4iXcP/IacvZvKnpPVs854dKqpsolAAiOrxsb37x1fWg0m2A9/+1vgmny2feFA
S+uCgZ75v3rp2bcWdDLfMuyXTNEDu3YfeoT98hDO3yCbOopkR4asVQ6xqTwxsak2YlS5HCOZ1AWC
tpQ3+4TFvSmOfH0yuxNZU029Ird3bMKraSvqvnXLgi329P42IJ9T63DW/KWkrbnE09kJEwSZrj5X
7wKrJWvNxqKi3T8e2OB2/66ytp19bmlfz8jI/P4RTr7ImQmy/9qIXJwL+rxcPQTLURNZq3OlnD5x
++/66f13MOgDkvo+GccZHGcDNw7Js+NxOrhxOsmaB34IlEEJvIr7ATveUDlLHQtovpI3HbXYRSgU
T4qKik03qTS5UeYUZUps1EjU8IqURQZzdGa6Jl3SXxcJlSaDwRwvdAk0eSbb5OcbBXmR1l7wng3X
HFBc74Wf47oGrs9r+ModzuWGwWED/PxgS0uwLjGrjZKUJc44l+uHUJuig83N/yoXAyghrANF8Bw5
50NLzHYaL6bQlL4jLUfUYB6B56xWJz4jtRK2U+/Cl0jsjuzMu3V1sL0LyR8DjSAGXkP9RSSmtthm
VepwfulYVl5+XV5+ZqpG41BroDGvLj9fl5mbrk1O0Woc+HAB1RQwAj1524Ky08ENj6sdWQadogxZ
tobOM+ZHGTLkhuS89DyzBfWJgrWgEuGNq6pBrEkyT0nC2b9ohFpoz0ytiROl8rXAoUlthDtc+cUu
eXJBoYvLWxaBR0nOhM+dLpaiq9E5NJKELlj00EMPcbxD8g7fhWdwRChHUfSUUEvFM4l07E3R8N2f
Ht2wbOSuI9ePHn15z8Gn+pljng0nx/buWXZqvcez4p3tp07cNXzYTP2/zsnkBf4bHgffY/xU0mC9
TRjPV9qsQgVOqJP0TDxyae4XJBrdrk9i6+PybDFzCtrB78aKYwrtseWFwMJ+UJWbWwcyE9IT0grZ
j+rQuBR1BXwPzFy+UW4F37NRwIyPlHLPeBdnnvEuXk+YftYC/ojk5AInj1b8QsoLPb7M4mzwx+Hd
u9HzSnCBem36OT4Fu93Y49fCFcPDe3D/ysAw9Ro1TM4bz3pOnuJ1awHfgq3I3oWRCimZQExzXy0+
bZGhp1xbbATfLt5x9yi+SJ9K8CewhswZPT2rivvaYezwaQFl7PRp4crBwT170MX1CQyDNchCkD70
P+sz1QNQmoAD/D5ot61SHs2zizUipUjztqBc8PbbkuYE8EC5AJ+GFJTHTt4BxzGtNtQHn8UXkz4a
mntlAd+U3GsMtldjywSvvRYZ+dprgrLYV1+NiACnfbFXrsT6BKdeii0XfI9He+kUHstO/QEYwe+w
NE9lVO3lA2VlA0CP7+XYBxhDtyLy/gE/eJ6AZOvx9VEP2N8D9uE3EkbJWwkUotwaaAqVz3rnxk81
/6/fuwn9v30h54v8m1/I4Q394ws5rOR/+5JO5T++tYP5qUDWnyU5vmAG/8lt22q2b5dxGb0bnnMZ
QMVM1g/vEdWBzcg+/UDOXWmA9NYs8O/G1Thfh56xgauwnsubAJIe4cv5cmxU5DeEKsgg4dQT+sI2
DZb50ivzf6EDi6PZ/QCArij2OeHCig3ZlczzQ/fEF0dlA5AfZZXsGDoJbUKf6zN3hEAS5V4wtlXw
y/u3uKPjhFHuO/cT2W4MXAWvw/OIAoSBCi+e2gnCECYaXBMJZuDC+LgWYudZyIkgZJZs4PXiyrx0
VaY4VBLqTvM6LTlLw2Xe7ByvWOQIiQspdZQo1DXDejE/mV8s/31Tp0e37K45qic7beB6UvotD4Qk
hfRzOqwG98IT5HxbPHcyBMsgPftk6hn7EIheZK6tr6mhG8zwBPsVSMzJQXcf+yMIZ08BMXv5/5d9
hkiXv4d3w3UIu2S8Y4qJqOJKZLCWmi7hW3HqVAzvZmVl82pHsnhJ4fTqrq2PHwEJR24rn7fQC3LP
l/q8UBBSVfvyHXe++FLfs0zpCTx2HvLDnfAThC/e+uL5s4+i0cGUrJpkQW840+1MUh4Ybhw+ttBR
K4AhNT5ndkx4fn3/iq4oj7V+daGlcgX4vLNr7fHhlruOGhXapMZumTpOtfm6zrprOK/sQY7vqeh2
O3wZ8V1E3uYBtCROqlHjU6YaJYp9efD2yT0gtC/reFaPfKM8NALyokOkT2rhnkVs2aKUBlDZEKMO
NUbksyWE9x2BJPgCGQ/XA+T4ACx8oZZlkGvwJ1779Ud4h6bOHyTBfaidALWTW21xdoCdUzR3GHJD
9k1udl5zskdhOauxfmKNY1+B/D+py0BaGXhI7ylmrxeL2Q3cOB5QB5vBrik/BsU6X8N4UOf+F/r2
T+sOaWid9fBTcrYjDPKViA2kGI2EPU6K0IR69W61K2lBUoQmQjBHVCtalSK9NQN+uooVrsr9Y25Y
QpgsNioniv1rQRX45UouzrJREzwDeA/542nknQou7FDOmEYar20YWWe0sqqZReYZumpcCzNg49La
nu7qiXrYMFbd53HktvlLux3sl/JWgy23MKcdaMr7i+0TXb7K7omJjjXdhchc086iHJOLe8csIAUf
wL9g3wKQnA8J6hBFOLcgJBiA1ySytqYKk4wXCZNSWhsr6RR4KHLB5Lr61ugoXXjEArihtj0WyUs7
NQHd4CNKiCNGwB2W4OoFUuyiiYjlmMqiYAh0F9TYRjXWrKxUt9FhzVNbDFn5tQ6bA4MKqh1Wh9Zi
AI82er3ZWoNc6WF/apArPNn4hnEfQZ6qERZg6VTJubdX0SWfeqsVGtmf3CVFy/f5/gsAj9ez+qDv
T/du3uw+4L79dvcBfFYDybcRetEqRBL5lltVVpU4VByKehaCX5HrEdDuLnnb8HbpfniA+rk+wlDc
yzrTp4N9GPzKDWLOlOznHSh5G/XJRX1oJM+RuBKGDCcWHMRhWiJVa8L4IkjP35CpuVeD/mdukDtX
rnSeBp0HX8+7lJf/57zXD7Y9/3wb+zWWFXz+8ktkB+OpBGy/ROQIJmLlrEOYQhUJ7IW0pLfOI4mN
jifHMRcw6IMPZRaWguChTHD2pcZJJY494Q3j/vyo4GdGvHk8libHBv8PNBqThXjapVPNTttAEB4n
oaiCFqlqr2gOlXpzDAiJBHpAIHFpCIKotwot9mIvxHZkLwnhPSpVvfQp+gi99B167hv01EO/nSxt
qgr1z6v1fjue+fbzzCwRPaYvFNDseUFvPQ7oUfDA4wYtBpHHTVoNxh63aCV47/ECPWs88fgerTRe
ebxIutnxeIlWm588XqbtlgVb0LqP3Rthdjigp/TZ4wY9DNjjJu0EWx63oOG1xwt0GHzw+B6tNp57
vEgfG7nHS7TTfOfxMo2bX2mfDKWYFvOGNCXEmAp7BRRTSSOaUiVeGaxMa9TB2AAawKKx9uBVYFp4
jsSyh10F7N5KuJ1HiC+7NMTgOcZadhqrxjoWDSHRvkmNNTc64URZxXE5mlYmzSyvdTobPMg098qi
tNOR5r2yGpWVsqYsQt4dDlkca650rauxTsB2CNqJHHUgQjMcH4v0Ad4nsCRw0pOaD0qbmZh7Az6x
sB0jMKUraFZQR8c6vRoqgB71QdqnLsL/hNz5rVOEsYng/mG/y78e1+X1KNr8oXaezpHN6ZzF9QYi
8qWkrvZpdiUK5aiItukIUSx43poJcyz+4+8RIcq6BTpd1cglr4VRFG0fnXAUzWBW2rgsxu5DuLH1
9zrvSpQRm2s4Kw2TwC+XhF/CVtL5PzSb4yuknR3TFOuZeFdSUHeilazNWt5IRCwW1/qz/QUK7zwT
0XnLXLv2nC+eqVmxrVSic1Vdcnl+Z3uyKhLO1ZTPNLozNbXVFTrcFBzryiqsF1emTkzsnGsc4y6I
xb91qY0xkRHij37OgZF/TEV1iu+urjmCrR112+3JZBLmXozJVWqKNIzL/P/I2xKd4160pVy13OdC
EnhrOZUYh68Rd+v/G1ntzObDdqJrkxa6cuDUFIm+Dp2dvgFRBSZcAAAAeNptzWeYyAUABvDf/9w5
ZyUJ2RRSxt3JOFm3iGSEygiHw5WRc2dkU7L3isqu8BiVESp7l/GYZZO9R76Ke+6j93ne5/fh/fAK
kZEna0V7Xp48bSBEFqHCZBUumwjZ5ZBTLrm9II8X5fWSfF6WXwEFvaKQwoooqpjiSiiplFe9prQy
ynpdOW94U3kVVFRJpKin35W9pYqqqqkuRg1vq6mW2uqoK1aceAkS1VPfOxpo6F2NvKexJppq5n3N
tdDSBz70kVZaa6Otj7XTXgdJQYhFvvCl3810zSgTjfOtpRYHWYz1j5GmeeChCWYZbbuz7vvOMv95
5LGFVthrt5U66mSyzvZLtsc+B/3pLwdc18URhxy2Slf3THHcUcd0c9NtY3wixad66K6n+Xrp7TOp
+kiXpq9+bujvcwMMNNggv1pgqCGGGe6WOzY64aJLVvvJvy7b5IqrvnfShSDUKaedcd7fzgVhQVZz
/ewX66y3wxpr7TTCNl9Zbpc/bPZbEB5kM968IMJsP5rja3eD7EEOS0z1jR9MMt0MG2yxNTy9Z0pk
ZGxkpgkZRsfHZFg5NtO4+NDE9NReYd1T0lKTI5L7pKX0SEpL7vxsjI6OqpJpzP+ZKo8lAAAAAAAA
Af//AAJ42h3LQQ6AIAxE0Q+agBsO5b00clfwFGj80mbSN4sSgGJ2/olkFhLBm20bhz65dKXp7kZu
hn549Tr/+ADlIQkYeNqNk7FKA0EQhv/dO5MoIknORAkhBJEUFhYiYiEWIqIgGIJaSg4lIoQoJqkU
FZ9AfAIfwtLCpxC0VrjaXuO/s6twRiFFZnZmv/l3dm4DBWAE87iGaoadFlKM1PZOrYwC0OthiPsK
Gr5ZMVbwkAjDZgeVxmm4j9nm0WGIebFLx6cHLay0uydtrLNOS62tN5FHFRNZa5UTPC+PEipYwDLW
sIs9NNBydXXWGH9NDqy4wSMilVaLVkNVna/bfXWibtW9etLuXF2w+9rx+s7lH9hNnnd9xRk66KKJ
c/kp5jIYR46705jDKmrMpSXv4RkveOfaZExfPqkiuRl3z6TsBXLfLKKfyFjDe1QuYMrRqT/pfs6q
jse4iQG53L9c/pee4lpJTz4+uLMp+Y1Y/pP5LZf3ZIJFmQVEWXFa3x0Y69FOSr09d9gxWu5ZlL7+
ImoxQrPzsujFVYzNDEDW+khNItn33ZN9X71BzVG+yyorErzlGyeQpUYgq0hWPl9vVmZ7QTrLORof
0V9KnBMf0RuNMVw56spR5t8U8GTzNUoyZ8ulhAvERz9vSPM07frVpssv2TRJFQAAAHjaxZZNbBRl
GMf/2xboVg3lhgkSxVqxEYxVKR8lMQa1HhQtX21ZD5KYGBQPxngCYqBA0Wr2wEcDhRhaoG6XDYe2
NFAI3dhGEg6ku4fuuoVJg+2LvjG7yawnk/E304KEGIxezOTX2c7H8/ye533nnVFIUoUW63mFPvng
809VrjKOyPPknwl9/OFn/jHN/Me5kmBfrlBFZXDlevUowTYYei0UCW0LdYfGSj4q+aKko7QxtK30
ellF2cKy2rI/5iyZc37uirmReUvmbWRrmdca7H8pj5RvY2uHsfLx8kl/Cy8Ntu33tuh928DMFtz9
wBb+Ibydv2NhM7OVj1VU4Po2tZUo53XoFizRY955VXu/qwaW6UnVsn8Z6ryYVnp5rfKyWg313rDW
0ZuDnDsEh+EIHIUOOAbHub4TTsBJOMX1XdANp+EMnIURrr1GvBy5b8GvMJeMDtnyZMtrDdR7d7jq
Ds51nlGlqnxDjtd5Ka4rcl2R625znaO13s/aw/m90Ar7YD8cgLYgm6NHqHOaOqep0VLjtFYE0aya
OdsCETjI8WH2z2i+F9UCqKIT1VxVA8u8L2fvtuS0WucNqcH7UY3Q5F3XDu8GHjE8YnjE8IjhEcMj
hkeM6JbuWbpn6Z6le5buWbpn1UWsHuglVj9chCFijnBulN9TxC7F9yYVWyqyzLsqzyWfSz6XfC75
XPK55HPJ52q5Kqml2stgn8E8g3mGum8Hda+kr6vYrwY/ZgP/N0JT0BNLTyw9sVhnsM5gncE6g3UG
6wzWGcbcMOaGMTeMuVEMeiEO56AP+mEALsAgXIRLxB2Cy3AFhmGEeKOc82tbzMyMYu5g7jAzF2Lv
YO/M2n+L/ST2cezj2O/GNIepg6mDqYOpg6mDqYOpg+kkppOYTmI6ScYcGR2y7WYmRpmJUWZiVPMZ
+Z30Lcfo76TDSUa9lZHO0+kknU7S6SSdTtLpJJ1O0ukko5dn9PKMkN/xen5dA39Wp7E0WBpmqwlm
qz8ba4P5Vel1BnPsCa9Pi6HKS1BzippTZG2j5hQ1p6j57nxr1xtc3wCNsMn7Tpt5jpuI00wfWiAC
73s9zMVu7fIGsU5gncA6gXUC6wTWCawT9CtFv1L0K0W/UvQrRb9S9CtFRe1U1M5oRhnBKKMWZcQ6
6VmKUYoyH7s1Tfww1nlsp8iUJ1OeTHky5cmUJ1OeTHk9Tb1x6r1BvXHuyFJnkTqL1FikxiK1Zalr
gromqKtATQUiZomYJWKWiFkiZomYJWIW9yLuRdyLuBdxL+JexL2Iexb3LO4TuE/gPoF7Afci7hN6
Khil/9siHMyyauZzDdTCITgMR+AodMCLs53roHOdzJQ0MyWN+/BfTwfn7j4dM7Okj1kypDeD1WlI
73rjeg8a+b2B/Ub2m9hvZjSa2DczL1tgBza72O8h9l5ohX2wHw5AGzzsCesibw98T3z/yRplP0XM
aWI+iq3B1mBqMDVEMkQyRDJEMkQyRDJEMtxtWPe3snJXcGeVXtUiqvpNp6ALuuE0nIGz0AOPU3OB
mgvUXKDWgrZwtAmamX8tEIEYx3shDuegD/phAC7AIFyES9w3BJfhCgxz7yjHFzEaVxmNNKNxFSdD
VpesLlldsrp018XT4GnwNHgaPA2eBk9Dd1wsXCxcLFwsXCxcLFwsXCxcLFwsXDK69KGSMa0g7zg5
x4OV6BT4K043nIYzcHZ2BVqAkcXIX88tRhYjS1ZLVktWS1ZLVktWS1ZLVktWS1ZLVv9tY8laj2sJ
61c3v1gL/9OXgv+mv/8tX/mvozwYIXzvLf6wN3j4H78W/K+C0nsrV1uwct/f4Tl/+4T5b9w0z0ea
5yPN85Hm+UjzfKR5PtJESQd9y/F3Pd8b8+laFV8S1XpWS/Wcaqh4uV5g7X9Jr2iF6rRSq7Raa1Sv
tXpdDXpL76hRG7RJW9SsFm1VRDu0S3u0V63ap/06oDZ9pa/Vrm90SId1REfVoWM6rk6d0Em+P2Pq
VVzn1Kd+DeiCBjWsEY3qmn5STjd1S1Oa/hMgSXB7eNpjYGBgZACCk535hiB6H697IowGADjXBNoA
AA==) format('woff'), url('NewsGothicMTStd.ttf')  format('truetype'), url('NewsGothicMTStd.svg#NewsGothicMTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}


