	<footer id="footer">
	</footer>

	<script src="assets/js/libs/libs.min.js"></script>
	<script src="assets/js/vendor/vendor.js"></script>
	<script src="assets/js/global.js"></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>